/* reset margin-padding  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

body {
  font-family: Tahoma, Verdana, sans-serif;
  position: relative;
}

/* variables  */

:root {
  --green: #6aaa64;
  --darkGreen: #538d4e;
  --yellow: #c9b458;
  --darkYellow: #b59f3b;
  --lightGray: #cbcbcb;
  --darkGray: #717477;
  --white: #ffffff;
  --black: #000000;

  --col-bg-color-present: var(--darkYellow);
  --col-bg-color-absent: var(--darkGray);
  --col-bg-color-correct: var(--darkGreen);
  --key-bg: var(--lightGray);
  --key-bg-present: var(--col-bg-color-present);
  --key-bg-absent: var(--col-bg-color-absent);
  --key-bg-correct: var(--col-bg-color-correct);
  --font-color-present: var(--white);
  --font-color-correct: var(--font-color-present);
  --font-color-absent: var(--font-color-present);
  --message-bg-color: var(--black);
  --message-color: var(--white);
  --message-color-dark: var(--black);
  --bg-color-popup: var(--white);
}

/* header */

h1 {
  margin-bottom: 10px;
  text-transform: capitalize;
}

hr {
  margin: 2px 0 10px 0;
}

.bottom-hr {
  margin-bottom: 130px;
}

/* boxes  */

.rows-container {
  margin-bottom: 80px;
  min-width: 310px;
  position: relative;
}

.message::before {
  content: attr(data-message);
  color: var(--message-color);
  background-color: var(--message-bg-color);
  position: absolute;
  font-weight: 900;
  max-width: 200px;
  border-radius: 10px;
  padding: 10px 25px;
  line-height: 1.6;
  text-transform: capitalize;
  transform: translate(-50%, -120%);
  z-index: 1;
  letter-spacing: 2px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.shake {
  animation: shake 400ms cubic-bezier(.36, .07, .19, .97) both;
}

@keyframes shake {

  10%,
  90% {
    transform: translateX(-1px);
  }

  20%,
  80% {
    transform: translateX(2px);
  }

  30%,
  50%,
  70% {
    transform: translateX(-4px);
  }

  40%,
  60% {
    transform: translateX(4px);
  }
}

.col {
  height: 60px;
  width: 58px;
  margin: 4px 3px;
  border: 2px solid var(--lightGray);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
  text-transform: uppercase;
}

.col.present {
  background-color: var(--col-bg-color-present);
  color: var(--font-color-present);
  border: none;
}

.col.absent {
  background-color: var(--col-bg-color-absent);
  color: var(--font-color-absent);
  border: none;
}

.col.correct {
  background-color: var(--col-bg-color-correct);
  color: var(--font-color-correct);
  border: none;
}

.col.flip {
  animation: flipVertically 600ms ease-in;
}

@keyframes flipVertically {
  0% {
    transform: perspective(400px) rotateX(0);
  }

  50% {
    transform: perspective(400px) rotateX(-90deg);
  }

  100% {
    transform: perspective(400px) rotateX(0);
  }
}

.col.success {
  animation: success 300ms 700ms cubic-bezier(0.1, -0.32, 1, 2.18);
}

@keyframes success {

  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0px);
  }
}

/* keyboard  */

.keys-container {
  min-width: 310px;
}

.keyboard-row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.letter {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 35px;
  margin: 3px;
  border: none;
  border-radius: 8px;
  background-color: var(--lightGray);
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 500;
}

.letter[data-val='enter'],
.letter[data-val='back'] {
  width: 58px;
}

.letter.present {
  background-color: var(--key-bg-present);
  color: var(--font-color-present);
}

.letter.absent {
  background-color: var(--key-bg-absent);
  color: var(--font-color-absent);
}

.letter.correct {
  background-color: var(--key-bg-correct);
  color: var(--font-color-correct);
}

/* Overlays  */

.overlay {
  position: absolute;
  inset: 0;
  background-color: #c9bfbf;
  opacity: 0.5;
}

.popup {
  position: absolute;
  width: 300px;
  min-height: 400px;
  border: 2px solid red;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* Game rules popup  */

.game-rules {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--bg-color-popup);
  border-radius: 5px;
  box-shadow: 1px 1px 10px 1px;
  z-index: 1;
}

.game-rules .demo-row {
  margin: 15px 35px;
  display: flex;
  align-items: flex-end;
}

.game-rules .demo-row p {
  width: 70%;
  margin: 3px 10px;
}

.game-rules .bold-font {
  font-weight: 900;
}

.game-rules .cross-icon {
  float: right;
  margin: 15px 15px 0 0;
  border: none;
  border-radius: 15px;
  padding: 10px 15px;
  font-size: 20px;
  background-color: var(--col-bg-color-absent);
  color: var(--message-color);
  cursor: pointer;
  font-weight: 500;
}

.game-rules .cross-icon:hover {
  background-color: var(--lightGray);
  color: var(--message-color-dark);
}

.game-rules hr {
  margin-bottom: 10px;
  width: 95%;
  margin-inline: auto;
}

.game-rules p {
  margin: 25px;
  font-size: 12px;
  text-align: left;
}

.game-over {
  position: fixed;
  background-color: rgba(203, 203, 203, 0.8);
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.new-game {
  background-color: var(--darkGreen);
  width: 250px;
  height: 70px;
  border-radius: 12px;
  font-size: 32px;
  color: var(--black);
  margin: 45vh auto;
  box-shadow: 2px 2px 5px 1px;
  border: none;
  cursor: pointer;
  font-weight: 700;
}

.new-game:hover {
  background-color: var(--black);
  color: var(--darkGreen);
}


/* responsiveness */

@media only screen and (max-device-width: 415px) and (orientation: portrait) {

  h1,
  hr {
    margin-bottom: 5px;
    margin-top: 2px;
  }

  .rows-container {
    margin-bottom: 20px;
  }

  .bottom-hr {
    margin-bottom: 40px;
  }

  .letter {
    height: 50px;
  }

  .col {
    height: 52px;
    width: 50px;
  }

  .message::before {
    transform: translate(-50%, 100%);
  }

  .game-rules {
    width: 90%;
  }

  .game-rules .demo-row {
    margin: 10px;
  }

  .game-rules p {
    margin: 12px;
  }

  .game-rules .cross-icon {
    margin: 5px 5px 0 0;
  }
}

.d-none {
  display: none;
}