/* reset margin-padding  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  text-transform: uppercase;
}

body{
  font-family: Verdana,sans-serif; 
  position: relative;
}

/* variables  */

:root {
  --green: #6aaa64;
  --darkGreen: #538d4e;
  --yellow: #c9b458;
  --darkYellow: #b59f3b;
  --lightGray: #cbcbcb;
  --darkGray: #717477;
  --white: #ffffff;
  --black: #000000;

  --col-bg-color-present: var(--darkYellow);
  --col-bg-color-absent: var(--darkGray);
  --col-bg-color-correct: var(--darkGreen);
  --key-bg: var(--lightGray);
  --key-bg-present: var(--col-bg-color-present);
  --key-bg-absent: var(--col-bg-color-absent);
  --key-bg-correct: var(--col-bg-color-correct);
  --font-color-present: var(--white);
  --font-color-correct: var(--font-color-present);
  --font-color-absent: var(--font-color-present);
  --message-bg-color: var(--black);
  --message-color: var(--white);
}

/* header */

h1 {
  font-family: Georgia, Times, 'Times New Roman', serif;
  margin-bottom: 10px;
  text-transform: capitalize;
}

hr {
  margin: 2px 0 10px 0;
}

.bottom-hr {
  margin-bottom: 140px;
}

/* boxes  */

.rows-container {
  margin-bottom: 80px;
  min-width: 310px;
  position: relative;
}

.message::before {
  content: attr(data-message);
  color: var(--message-color);
  background-color: var(--message-bg-color);
  position: absolute;
  font-weight: 900;
  max-width: 200px;
  border-radius: 10px;
  padding: 10px 25px;
  line-height: 1.6;
  text-transform: capitalize;
  transform: translate(-50%, -120%);
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.col {
  height: 60px;
  width: 58px;
  margin: 3px;
  border: 2px solid var(--lightGray);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
}

.col.present {
  background-color: var(--col-bg-color-present);
  color: var(--font-color-present);
  border: none;
}

.col.absent {
  background-color: var(--col-bg-color-absent);
  color: var(--font-color-absent);
  border: none;
}

.col.correct {
  background-color: var(--col-bg-color-correct);
  color: var(--font-color-correct);
  border: none;
}

.col.flip {
  animation: flipVertically 600ms ease-in;
}

@keyframes flipVertically {
  0% {
    transform: perspective(400px) rotateX(0);
  }
  50% {
    transform: perspective(400px) rotateX(-90deg);
  }
  100%{
    transform: perspective(400px) rotateX(0);
  }
}

/* keyboard  */

.keys-container {
  min-width: 310px;
}

.keyboard-row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.letter {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 35px;
  margin: 3px;
  border-radius: 8px;
  background-color: var(--lightGray);
  cursor: pointer;
}

.letter[data-val='enter'],
.letter[data-val='back'] {
  width: 58px;
}

.letter.present {
  background-color: var(--key-bg-present);
  color: var(--font-color-present);
}

.letter.absent {
  background-color: var(--key-bg-absent);
  color: var(--font-color-absent);
}

.letter.correct {
  background-color: var(--key-bg-correct);
  color: var(--font-color-correct);
}

/* Overlay and Popups  */

.overlay {
  position: absolute;
  inset: 0;
  background-color: #c9bfbf;
  opacity: 0.5;
}

.popup {
  position: absolute;
    width: 300px;
    min-height: 400px;
    border: 2px solid red;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* responsiveness */

@media only screen and (max-device-width: 415px) and (orientation: portrait) {
  h1,
  hr {
    margin-bottom: 5px;
    margin-top: 5px;
  }

  .rows-container {
    margin-bottom:10px;
  }

  .bottom-hr {
    margin-bottom: 50px;
  }

  .message::before {
    transform: translate(-50%, 100%);
  } 
}
